<div class="modal-content">
  <div class="modal-header text-white">
    <h5 class="modal-title">{{ title || 'Cadastro' }}</h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="attemptClose()"
    ></button>
  </div>

  <div class="modal-body bg-light">
    <form #form="ngForm">
      <div class="container">
      
        <div class="row" style="padding-left: 0;">

          <div class="
            col-12 
            offset-sm-0
            col-sm-6
            col-lg-4">
            <h5 class="title p-0">Foto de perfil</h5>
            <div class="imagePreview" style="padding-left: 0;">
              <img 
                [src]="imageUrl ? imageUrl : '../../../../../assets/no-photo-user-default.png'" 
                alt="User image"/>
              <label class="btn btn-primary upload" style="margin-bottom: 0 !important;"> Selecionar foto
                <input 
                  type="file" 
                  class="inputSelectPhoto" 
                  accept="image/png, image/jpeg"
                  (change)="generatePreview($event)">
              </label>
            </div>
          </div>

          <div class="
            col-12 
            mt-3
            col-sm-6 
            col-lg-8
            mt-sm-0">
            <div class="input-group row ml-2">
              <h5 class="title">Informações</h5>
              <div class="col-12">
                <label for="name" class="form-label">Nome</label>
                <input 
                  type="text" 
                  class="form-control" 
                  autocomplete="off"
                  id="name" 
                  name="name"
                  #nameRef="ngModel"
                  placeholder="Insira o nome"
                  [(ngModel)]="name"
                  required
                  pattern="^[A-Za-zÀ-ÿ0-9]+(?:[ -][A-Za-zÀ-ÿ0-9]+)*$">
                <span *ngIf="nameRef.invalid && nameRef.value" class="text-danger">
                  Insira um nome válido
                </span>
              </div>
              <div class="col-12">
                <label for="email" class="form-label">E-mail</label>
                <input 
                  type="text" 
                  class="form-control" 
                  autocomplete="off"
                  id="email" 
                  name="email"
                  placeholder="Insira o e-mail"
                  [(ngModel)]="email"
                  required
                  email>
              </div>
              <div class="col-12">
                <label for="phone" class="form-label">Telefone</label>
                <input 
                  type="text" 
                  class="form-control" 
                  autocomplete="off"
                  id="phone" 
                  name="phone"
                  placeholder="Insira o telefone"
                  [(ngModel)]="phone"
                  required
                  email>
              </div>
            </div>
          </div>

        </div>
      
        <div class="input-group row mt-4">
          <h5 class="title p-l-2">Endereço</h5>
          <div class="
            col-12
            mb-3
            col-sm-6 
            mb-sm-0"
          >
            <label for="state" class="form-label m-0">Estado</label>
            <input 
              type="text" 
              class="form-control" 
              id="state" 
              name="state"
              autocomplete="off"
              [(ngModel)]="state"
              required>
          </div>
        
          <div class="
            col-12 
            mb-3
            col-sm-6 
            mb-sm-0"
          >
            <label for="city" class="form-label">Cidade</label>
            <input 
              type="text" 
              class="form-control" 
              autocomplete="off"
              id="city" 
              name="city"
              [(ngModel)]="city"
              required
              email>
          </div>
        
        </div>
      
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary closeModal"
          (click)="attemptClose()">
          Fechar
        </button>

        <button 
          type="submit"
          class="btn btn-primary"
          (click)="prosseguir(form)"
          >
          Prosseguir
        </button>
      </div>
    </form>
  </div>
</div>
