label, input {
    font-size: 12px;
}

.gradient-form {
    background-color: #3d5685;
}

.gradient-custom-2 {
    background-color: #223557;
    color: white;
}

.gradient-form {
    height: 100vh !important;
}

@media (min-width: 769px) {
.gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
}