<div class="modal-content">
  <div class="modal-header text-white">
    <h5 class="modal-title">{{ title }}</h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>

  <div class="modal-body bg-light">
    <div class="row">
      <ng-select
        [items]="listaEstabelecimentos"
        bindLabel="nome"
        bindValue="id"
        placeholder="Selecione um estabelecimento..."
        [(ngModel)]="estabelecimentoSelecionado"
      ></ng-select>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary closeModal"
      (click)="closeModal()"
    >
      Fechar
    </button>
    <button type="button" class="btn btn-primary">Salvar</button>
  </div>
</div>