<div class="table-responsive">
    <table class="table table-hover border">
        <thead>
            <tr class="table-title-row"> 
                <th colspan="3">SERVIÇOS ACESSADOS RECENTEMENTE</th>
            </tr>
            <tr>
                <th>Nome do Cliente</th>
                <th>Veículo</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Eduardo Abreu</td>
                <td>Ford Ka 2020</td>
                <td>Em Serviço</td>
            </tr>
            <tr>
                <td>Bruno Correa</td>
                <td>VW PASSAT</td>
                <td>Concluído</td>
            </tr>
            <tr>
                <td>Paulo Figueiredo</td>
                <td>Fiat Toro 2022</td>
                <td>Aguardando Peças</td>
            </tr>
            <tr>
                <td>Renata Martini</td>
                <td>Chevrolet Onix</td>
                <td>Concluído</td>
            </tr>
            <tr>
                <td>Jairo Macedo</td>
                <td>Peugeot 206</td>
                <td>Aguardando Peças</td>
            </tr>
        </tbody>
    </table>
</div>