<div class="header d-flex justify-content-between" style="padding: 15px;">

  <div class="top-left d-flex position-relative">  
    <!-- menu mobile -->
      <div 
      class="menu-mobile position-absolute"
      >
        <button 
        class="toggle-btn" 
        (click)="toggleCollapse()">
          <i 
          class="fa-solid fa-bars">
          </i>
        </button>
    </div>
    <div class="image-logo me-3" style="margin-left: 40px;">
      <img 
      src="../../../assets/logo_odramech-sem-fundo.png" 
      alt="ODRAMECH Logo" 
      style="max-width: 120px; max-height: 200px;">
    </div>
  </div>
  <!-- -->

  <div class="user-icon dropdown">
    <img 
      src="../../../../assets/no-photo-user-default.png"
      alt="Ícone do Usuário" 
      data-bs-toggle="dropdown"
      aria-expanded="false"
      style="
        border-radius: 50%;
        width: 32px;
        height: 32px;
        object-fit: cover;
        cursor: pointer;
      "
    >
    <ul class="dropdown-menu" aria-labelledby="dropdownHost">
      <li><a class="dropdown-item" href="#">Exibir perfil</a></li>
      <li><a class="dropdown-item" href="#">Teste</a></li>
      <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</div>