<div class="sidebar" [ngClass]="{'collapsed': isCollapsed}" style="position: inherit; z-index: 1;">

  <div class="menu">
    <button class="toggle-btn" (click)="toggleCollapse()">
      <i class="fa-solid"
        [ngClass]="{
          'fa-bars': isCollapsed,
          'fa-xmark': !isCollapsed
        }">
      </i>
    </button>
  </div>

  <div class="user-profile pb-4">
    <div class="container-fluid m-0">
      <div class="row">
        <div class="col-4">
          <img 
            [src]="urlPhotoUser ? urlPhotoUser : '../../../../../../assets/no-photo-user-default.png'"
            alt="photo-user" 
            class="rounded-circle"
            style="
              width: 60px;
              height: 60px;
              object-fit: cover;
              cursor: pointer;
            "
          >
        </div>
        <div class="col-8">
          <div class="row m-0">
            {{ userLogged.name }}
          </div>
          <div class="row m-0">
            <small class="p-0">
              Administrador
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navigation">
    <div class="container-fluid m-0">

      <ul class="row">
        <li class="col-12" *ngFor="let button of buttons" (click)="navigateUrl(button)">
          <i [ngClass]="button.icon" style="min-width: 25px;"></i>
          <span class="link-text">{{ button.nome }}</span>
        </li>
      </ul>

      <ul class="row configurations" style="border-top: 1px solid rgb(231, 231, 231);">

        <li class="col-12" (click)="navigateToSettings()">
          <i class="fa-solid fa-gear"></i>
          <span class="link-text">Configurações</span>
        </li>

        <li class="col-12 logout" (click)="logout()" *ngIf="!isCollapsed">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <span class="link-text">Logout</span>
        </li>

      </ul>
    </div>
  </div>

</div>