<div class="modal-content">
  <div class="modal-header text-white">
    <h5 class="modal-title">{{ title || 'Cadastro' }}</h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="attemptClose(true)"
    ></button>
  </div>

  <div class="modal-body bg-light">
    <form #form="ngForm">
      <div class="container">
      
        <div class="row" style="padding-left: 0;">
          <div class="imagePreview" style="padding-left: 0;">
            <img 
              [src]="imageUrl ? imageUrl : '../../../../../assets/no-photo-user-default.png'" 
              alt="User image"/>
            <label class="btn btn-primary upload" style="margin-bottom: 0 !important;"> Selecionar foto
              <input 
                type="file" 
                class="inputSelectPhoto" 
                accept="image/png, image/jpeg"
                (change)="generatePreview($event)">
            </label>
          </div>
        </div>
      
        <div class="input-group row mt-4">
          <div class="col-12 mb-3">
            <label for="name" class="form-label m-0">Nome</label>
            <input 
              type="text" 
              class="form-control" 
              id="name" 
              #nameRef="ngModel"
              name="name"
              placeholder="Nome da empresa"
              [(ngModel)]="name"
              required
              pattern="^[A-Za-zÀ-ÿ0-9]+(?:[ -][A-Za-zÀ-ÿ0-9]+)*$">
          
            <span *ngIf="nameRef.invalid && nameRef.value" class="text-danger">
              Insira um nome válido
            </span>
          </div>
        
          <div class="col-12 mb-3">
            <label for="email" class="form-label">Email</label>
            <input 
              type="email" 
              class="form-control" 
              id="email" 
              name="email"
              placeholder="E-mail da empresa"
              [(ngModel)]="email"
              required>
          </div>
        
        </div>
      
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary closeModal"
          (click)="attemptClose(true)">
          Fechar
        </button>

        <button 
          type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid">
          Prosseguir
        </button>
      </div>
    </form>
  </div>
</div>
