<div class="header d-flex justify-content-between" style="padding: 15px;">
  <div class="image-logo">
    <img src="../../../assets/logo_odramech.png" alt="ODRAMECH Logo" style="max-width: 120px; max-height: 200px;">
  </div>

  <div class="user-icon">
    <img 
      src="../../../assets/remover_foto.jpeg" 
      alt="Ícone do Usuário" 
      style="
        border-radius: 50%;
        width: 32px;
        height: 32px;
        object-fit: cover;
        cursor: pointer;
      "
    >
  </div>
</div>