<div class="header d-flex justify-content-between" style="padding: 15px;">
  <div class="top-left d-flex position-relative">
    <div 
    class="menu-mobile position-absolute"
    style="
    top: 50%;
    left: 3px;
    transform: translateY(-50%);"
    >
      <button class="toggle-btn" (click)="toggleCollapse()"><i class="fa-solid fa-bars"></i></button>
    </div>
    <div class="image-logo me-3" style="margin-left: 40px;">
      <img src="../../../assets/logo_odramech-sem-fundo.png" alt="ODRAMECH Logo" style="max-width: 120px; max-height: 200px;">
    </div>
  </div>

  <div class="user-icon">
    <img 
      src="../../../assets/remover_foto.jpeg" 
      alt="Ícone do Usuário" 
      style="
        border-radius: 50%;
        width: 32px;
        height: 32px;
        object-fit: cover;
        cursor: pointer;
      "
    >
  </div>
</div>