<div class="modal-content">
  <div class="modal-header text-white">
    <h5 class="modal-title">{{ title || 'Cadastro' }}</h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="attemptClose()"
    ></button>
  </div>

  <div class="modal-body bg-light">
    <form #form="ngForm">
      <div class="container">
      
        <div class="row" style="padding-left: 0;">

          <div class="
            col-12 
            col-sm-6
            col-lg-4">
            <h5 class="title p-0">Foto de perfil</h5>
            <div class="imagePreview" style="padding-left: 0;">
              <img 
                [src]="imageUrl ? imageUrl : '../../../../../assets/no-photo-user-default.png'" 
                alt="User image"/>
              <label class="btn btn-primary upload" style="margin-bottom: 0 !important;"> Selecionar foto
                <input 
                  type="file" 
                  class="inputSelectPhoto" 
                  accept="image/png, image/jpeg"
                  (change)="generatePreview($event)">
              </label>
            </div>
          </div>

          <div class="
            col-12 
            mt-3
            col-sm-6 
            col-lg-8
            mt-sm-0">
            <div class="input-group row ml-2">
              <h5 class="title">Informações</h5>
              <div class="col-12">
                <label for="name" class="form-label">Nome Estabelecimento</label>
                <input 
                  type="text" 
                  class="form-control" 
                  autocomplete="off"
                  id="name" 
                  name="name"
                  #nameRef="ngModel"
                  placeholder="Insira o nome"
                  [(ngModel)]="formData.name"
                  required
                  pattern="^[A-Za-zÀ-ÿ0-9]+(?:[ -][A-Za-zÀ-ÿ0-9]+)*$">
                <span *ngIf="nameRef.invalid && nameRef.value" class="text-danger">
                  Insira um nome válido
                </span>
              </div>
              <div class="col-12">
                <label for="email" class="form-label">E-mail</label>
                <input 
                  type="email" 
                  class="form-control" 
                  autocomplete="off"
                  id="email" 
                  name="email"
                  placeholder="Insira o e-mail"
                  [(ngModel)]="formData.email"
                  required
                  email>
              </div>
              <div class="col-12">
                <label for="phone" class="form-label">Telefone</label>
                <input 
                  type="tel" 
                  class="form-control" 
                  autocomplete="off"
                  id="phone" 
                  name="phone"
                  placeholder="Insira o telefone"
                  [(ngModel)]="formData.phone"
                  required
                  >
              </div>
              <div class="col-12">
                <label for="cnpj" class="form-label">CNPJ</label>
                <input 
                  type="text" 
                  class="form-control" 
                  autocomplete="off"
                  id="cnpj" 
                  name="cnpj"
                  placeholder="Insira o CNPJ"
                  [(ngModel)]="formData.cnpj"
                  required
                  >
              </div>
            </div>
          </div>

        </div>
      
        <div class="input-group row mt-4">
          <h5 class="title p-l-2">Endereço</h5>

          <div class="
            col-12
            mb-3
            col-sm-6 
            mb-sm-0"
          >
            <label for="country" class="form-label m-0">País</label>
            <input 
              type="text" 
              class="form-control" 
              id="country" 
              name="country"
              autocomplete="off"
              [(ngModel)]="formData.address.country"
              required>
          </div>

          <div class="
            col-12
            mb-3
            col-sm-6 
            mb-sm-0"
          >
            <label for="zipCode" class="form-label m-0">CEP</label>
            <input 
              type="tel" 
              class="form-control" 
              id="zipCode" 
              name="zipCode"
              autocomplete="off"
              [(ngModel)]="formData.address.zipCode"
              required>
          </div>

          <div class="
            col-12
            mb-3
            col-sm-6 
            mb-sm-0"
          >
            <label for="district" class="form-label m-0">Estado</label>
            <input 
              type="text" 
              class="form-control" 
              id="district" 
              name="district"
              autocomplete="off"
              [(ngModel)]="formData.address.district"
              required>
          </div>
        
          <div class="
            col-12 
            mb-3
            col-sm-6 
            mb-sm-0"
          >
            <label for="city" class="form-label">Cidade</label>
            <input 
              type="text" 
              class="form-control" 
              autocomplete="off"
              id="city" 
              name="city"
              [(ngModel)]="formData.address.city"
              required
              >
          </div>

          <div class="
            col-12 
            mb-3
            col-sm-6 
            mb-sm-0"
          >
            <label for="street" class="form-label">Logradouro</label>
            <input 
              type="text" 
              class="form-control" 
              autocomplete="off"
              id="street" 
              name="street"
              required
              [(ngModel)]="formData.address.street"
              >
          </div>

          <div class="
            col-12 
            mb-3
            col-sm-6 
            mb-sm-0"
          >
            <label for="number" class="form-label">Número</label>
            <input 
              type="text" 
              class="form-control" 
              autocomplete="off"
              id="number" 
              name="number"
              required
              [(ngModel)]="formData.address.number"
              >
          </div>

          <div class="
            col-12 
            mb-3
            col-sm-6 
            mb-sm-0"
          >
            <label for="complement" class="form-label">Complemento</label>
            <input 
              type="text" 
              class="form-control" 
              autocomplete="off"
              id="complement" 
              name="complement"
              [(ngModel)]="formData.address.complement"
              >
          </div>
        
        </div>
      
      </div>

      <div class="modal-footer">
        <ng-container *ngIf="!withCadEnterprise; else btnCancelar">
          <button
            type="button"
            class="btn btn-secondary closeModal"
            (click)="attemptClose(true)">
            Fechar
          </button>
        </ng-container>

        <button 
          type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid"
          (click)="prosseguir(form)">
          Prosseguir
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #btnCancelar>
  <button
    type="button"
    class="btn btn-secondary closeModal"
    (click)="attemptClose(true)">
    Voltar
  </button>
</ng-template>
