<div class="menu-lateral-esquerdo" style="padding: 10px;
background-color: rgb(28, 73, 168);
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
height: 100%;">

    <!-- Cabeçalho -->
    <div class="cabecalho">

        <div class="row">
            <div class="logo col-5">
                <img src="../../../assets/logojpeg.jpg" alt="logo" style="max-height: 50px; max-width: 50px;">
            </div>
        </div>

        <div class="nome-oficina" style="
        align-items: center;
        justify-content: center;
        display: flex;">
            <span style="color: white;" style="
                padding-top: 10px;
                word-wrap: break-word;
                overflow-wrap: break-word;
                white-space: normal;
                color: white;
                font-size: 12px;
                ">VB Automotive</span>
        </div>
    </div>

    <!-- Menu -->
    <div class="menu-navigation d-flex" style="
    flex-direction: column; gap: 10px;
    margin-top: 30px;
    ">
        <div *ngFor="let botoes of botoes" class="options-menu" style="color: white; padding: 10px; font-size: 10px; cursor: pointer;">
            <i [class]="botoes.fontAwesomeIcon" style="padding-right: 10px;"></i>
            {{ botoes.nome }}
        </div>
    </div>

</div>